<div id="arrowNav" class="navigation">
	<span data-direction="backward" class="nav-item nav-increment nav-prev">

		<svg width="36" height="36" viewBox="0 0 36 36">
			<g transform="translate(18,18)">
			<path d="M 7,0 -6,5 -6,-6 Z" fill="#999999"/>
			</g>
		</svg>

	</span>

	<div class="numbers">
		<span class="current-index">1</span> / <span class="total-count"></span>
	</div>
	
	<span data-direction="forward" class="nav-item nav-increment nav-next">
		<svg width="36" height="36" viewBox="0 0 36 36">
			<g transform="translate(18,18)">
			<path d="M 7,0 -6,5 -6,-6 Z" fill="#999999"/>
			</g>
		</svg>
	</span>
</div>